import React from "react"
import SEO from "@components/Seo"
import BaseLayout from "@components/BaseLayout"

function {{> componentName }}Page(){
return(
<BaseLayout>
  <SEO />
  <h1>{{> componentName }}</h1>
</BaseLayout>
);
}

export default {{> componentName }}Page